alabaster==0.7.12                    # 2018-10-03
avro-python3==1.10.0                 # 2020-06-29
Babel==2.9.1                         # 2021-04-28
certifi==2022.12.7                   # 2021-10-08
cffi==1.15.0                         # 2021-10-13
charset-normalizer==2.0.12           # 2022-02-12
confluent-kafka==1.7.0               # 2021-05-12
cryptography==39.0.1                 # 2021-12-14
dacite==1.6.0                        # 2020-11-30
dataclasses-avroschema==0.25.3       # 2021-11-26
decorator==5.1.1                     # 2022-01-07
Deprecated==1.2.13                   # 2021-09-05
docutils==0.17.1                     # 2021-04-17
Faker==13.2.0                        # 2022-02-22
fastavro==1.4.9                      # 2022-01-08
gssapi==1.7.3                        # 2022-02-16
idna==3.3                            # 2021-10-12
imagesize==1.3.0                     # 2021-11-09
importlib-metadata==4.11.1           # 2022-02-15
inflect==5.4.0                       # 2022-02-01
Jinja2==3.0.3                        # 2021-11-09
krb5==0.3.0                          # 2022-02-16
MarkupSafe==2.1.0                    # 2022-02-18
packaging==21.3                      # 2021-11-18
psycopg2-binary==2.9.2               # 2021-11-12
pycparser==2.21                      # 2021-11-06
pydantic==1.8.2                      # 2021-05-11
Pygments==2.11.2                     # 2022-01-06
pyparsing==3.0.7                     # 2022-01-21
pyspnego==0.5.0                      # 2022-02-21
python-dateutil==2.8.2               # 2021-07-14
pytz==2021.3                         # 2021-10-02
redis==4.0.2                         # 2021-11-22
requests==2.27.1                     # 2022-01-05
requests-kerberos==0.13.0            # 2021-11-03
schedule==1.1.0                      # 2021-04-10
six==1.16.0                          # 2021-05-05
snowballstemmer==2.2.0               # 2021-11-16
Sphinx==4.4.0                        # 2022-01-16
sphinx-rtd-theme==1.0.0              # 2021-09-13
sphinxcontrib-applehelp==1.0.2       # 2020-02-29
sphinxcontrib-devhelp==1.0.2         # 2020-02-29
sphinxcontrib-htmlhelp==2.0.0        # 2021-05-22
sphinxcontrib-jsmath==1.0.1          # 2019-01-21
sphinxcontrib-qthelp==1.0.3          # 2020-02-29
sphinxcontrib-serializinghtml==1.1.5 # 2021-05-22
stringcase==1.2.0                    # 2017-08-06
typing_extensions==4.1.1             # 2022-02-14
urllib3==1.26.8                      # 2022-01-07
wrapt==1.13.3                        # 2021-10-29
wunderkafka==0.9.3                   # internal
zipp==3.7.0                          # 2021-12-31
